.git
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
FrontPKMNTCG
*.md
tests
.phpunit.result.cache
.idea
.vscode
ai model/.venv-wsl
ai model/.venv-windows
ai model/__pycache__
ai model/*/__pycache__
